<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Issue</li>
  </ol>
</nav>
<div class="card">
  <div class="header">
    <h2 class="title">Issue List</h2>
  </div>
</div>

<div class="card">
  <div class="header" >
    <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
      <ng-container *ngIf="issueToEdit">
        Id: {{issueToEdit._id}}
      </ng-container>
      <br/><br/>

      Title:
      <input type="text" formControlName="title"/>
      &nbsp;
      <small *ngIf="issueForm.get('title')?.errors?.['required']">Title is required.</small>
      <br/><br/>
      Description:
      <input type="text" formControlName="description"/>
      &nbsp;
      <small *ngIf="issueForm.get('description')?.errors?.['required']">Description is required.</small>
      <br/><br/>

      <button type="submit">{{issueToEdit ? 'Update': 'Create'}}</button>
    </form>
    <br/><br/>
  </div>
</div>

<div class="card">
  <div class="table-responsive">
    <table class="table table-centered table-hover mt-2" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Title</th>
          <th class="border-top-0" scope="col">Description</th>
          <td class="border-top-0" scope="col">Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of issues$ | async">

          <td>{{item._id}}</td>
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>
            <button (click)="onEdit(item)">Edit</button> 
            &nbsp;&nbsp;
            <button (click)="onDelete(item._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
